body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.animated-text {
    font-size: 50px;
    font-weight: 600;
    min-width: 280px;
    
    
}

.animated-text span {
    position: relative;
}

.animated-text span::before {
    content: "am Sanika ";
    color: white;
    animation: words .8s infinite
}


.animated-text span::after {
    content: "";
    border-left: 2px solid white;
    right: -8px;
    position: absolute;
    width: calc(100%+ 8px );
    height: 100%;
    background-color: lightcoral;
    animation: cursor .8s infinite typing 20s steps(14) infinite
}

@keyframes cursor {
    to {
        border-left: 2px solid black;
    }

}

@keyframes words {

    0%,
    10% {
        content: "a"
    }
    11%,
    20% {
        content: "am"
    }
    21%,
    30% {
        content: "am S";
    }
    31%,
    40% {
        content: "am Sa";
    }
    41%,
    50% {
        content: "am San"
    }
    51%,
    60% {
        content: "am Sani"
    }
    51%,
    60% {
        content: "am Sanik"
    }
    51%,
    60% {
        content: "am Sanika"
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}
a:hover {
    opacity: 70%;
    padding: 5px 5px;
    cursor: pointer;
}


